html, body {
  margin: 0;
  height: 100%;
}
body {
  background-image: linear-gradient(to bottom, lightseagreen, #2339e0 100%);
  background-size: cover;
  background-repeat: no-repeat;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: coral;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #fc9905;
}

.active {
  background-color: #4CAF50;
}
.showcase {
  margin-top: 70px;
  text-align: center;
  color: coral;
}
.section1 {
  color: black;
  margin-top: 70px;
  margin-left: 16%;
  float: left;
}
.section2 {
  color: black;
  margin-top: 70px;
  margin-right: 16%;
  float: right;
}
