{% extends "layout.html" %}
{% block content %}
<h3>Creation of a Portfolio Website</h3>
<p>Posted by <span class="badge badge-danger">Ian Koide</span> on <span class="badge badge-success">April 10th, 2020</span></p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis quasi debitis doloremque consequuntur fugiat ipsa eum ducimus aut dignissimos pariatur quae quas fugit exercitationem iusto, deserunt possimus, natus ea cumque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur labore eum cupiditate? Provident, porro distinctio ad omnis consectetur cum dolores illo, impedit ex aut eos et, quia blanditiis eaque! Error. Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio aliquam cupiditate sit commodi nisi nobis. Aspernatur tempora quas fuga? Adipisci consequatur facilis quasi atque quae similique assumenda, amet perspiciatis sequi.</p>
<div class="code">
    <pre><code>
    &lt;script&gt;
        $(document).ready(function(){
            // Add smooth scrolling to all links
            $(&quot;a&quot;).on('click', function(event) {
        
            // Make sure this.hash has a value before overriding default behavior
            if (this.hash !== &quot;&quot;) {
                // Prevent default anchor click behavior
                event.preventDefault();
        
                // Store hash
                var hash = this.hash;
        
                // Using jQuery's animate() method to add smooth page scroll
                // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
                $('html, body').animate({
                scrollTop: $(hash).offset().top
                }, 800, function(){
        
                // Add hash (#) to URL when done scrolling (default click behavior)
                window.location.hash = hash;
                });
            } // End if
            });
        });
    &lt;/script&gt; 
    </code></pre>
</div>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi exercitationem dolores dolorum est eaque. Pariatur, eius animi. Dignissimos quam consectetur est officia, alias, quisquam ipsa dolores eos totam aspernatur soluta! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum, laboriosam, corrupti officia voluptatum natus quisquam amet tenetur ex molestiae neque ipsum voluptatibus unde sed mollitia porro deleniti quibusdam molestias expedita!</p>
{% endblock %}