{% extends "layout.html" %}
{% block content %}
    <div class="blog-teaser">
        <h4>Creation of Portfolio Website</h4>
        <p class="blog-meta">Posted by <span class="badge badge-danger">Ian Koide</span> on <span class="badge badge-success">April 10th, 2020</span></p>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem earum nostrum labore, mollitia quis natus. Incidunt nostrum consequatur dolores, voluptate cum quidem eum dolore amet, cupiditate itaque esse, id alias!</p>
        <img src="{{ url_for('static', filename='img/blog/blog_1.png') }}" class="blog-teaser-img">
    </div>
{% endblock %}