@import "partials/colors";

$--WIDTH-mobile: 640px; // Or less
$--WIDTH-tablet: 641px; // 641 - 1007
$--WIDTH-desktop: 1008px; // Or greater

html, body {
    color: $--COLOR-text;
    background-color: $--COLOR-bg;

    margin: 0;
    padding: 0;

    scroll-behavior: smooth;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    height: -webkit-fill-available;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

a { color: $--COLOR-text; text-decoration: none; }

.pop { color: $--COLOR-pop; }
.alt { color: $--COLOR-alt; }

.splash-section {
    min-height: 100vh;
    min-height: -webkit-fill-available;

    font-family: "WorkSans";

    h1 {
        font-size: 22vw;
        @media (min-width: $--WIDTH-tablet) {
            font-size: 7rem;
        }

        font-weight: 700;
    }

    p {
        font-size: 1.8rem;
        @media (min-width: $--WIDTH-tablet) {
            font-size: 2.4rem;
        }
        font-weight: 300;
    }
}

.splash-text {
    padding: 6rem 2.5rem;
    @media (min-width: $--WIDTH-tablet) {
        padding: 8rem;
    }
}

.splash {}

.side-nav {
    position: fixed;
    bottom: 4rem;
    left: 1.2rem;

    @media (min-width: $--WIDTH-tablet) {
        left: 2rem;
    }
}

.dot {
    display: block;
    width: 0.8rem;
    margin: 0.3rem 0rem;
    @media (min-width: $--WIDTH-tablet) {
        width: 1.2rem;
        margin: 0.45rem 0rem;
    }
}

.mark-tag {
    position: absolute;
    right: 0rem;
    bottom: 0;
    width: 50vw;

    @media (min-width: $--WIDTH-tablet) {
        right: 2rem;
        width: auto;
    }
}

.skills-section {
    background-color: #52F058;
    font-family: "WorkSans";
    font-size: 1.5rem;
    @media (min-width: $--WIDTH-tablet) {
        font-size: 2rem;
    }
    padding: 2rem;
    @media (min-width: $--WIDTH-tablet) {
        padding: 8rem;
    }
}

$--HEIGHT-nav: 3.4rem;

.navbar {
    vertical-align: middle;
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: space-between;

    @media (min-width: $--WIDTH-tablet) {
        padding: 0rem 2rem;
    }

    .nav-links {
        margin: 0;
        list-style-type: none;
        line-height: $--HEIGHT-nav;
        height: $--HEIGHT-nav;
        text-align: center;

        .nav-item {
            font-family: "WorkSans";
            display: inline;
            padding: 0rem 0.6rem;
        }

        .nav-item a {
            color: #F8F8F8;
            text-decoration: none;
            @media (min-width: $--WIDTH-tablet) {
                padding: 0rem 1rem;
            }
        }

        .nav-item a:hover {
            color: #52F058;
            transition-duration: 100ms;
        }
    }

    border-bottom: 1px solid #444444;
}

.nav-sec {
    display: inline-block;
    height: $--HEIGHT-nav;
    padding: 0rem 1rem;
    line-height: $--HEIGHT-nav;

    &.right { float: right; }
}

.nav-title {
    font-family: "WorkSans";
    font-weight: bold;
}

.contact-me-text {
    font-family: "WorkSans";
    margin-left: 0.2rem;
}

.contact-me-btn {
    border-radius: 50%;
    background-color: $--COLOR-pop;
    height: 2rem;
    width: 2rem;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    font-family: "WorkSans";
    font-weight: bold;
    font-size: 1.2rem;
}

.whoami-section {
    background-color: $--COLOR-pop;
    padding: 4rem 0rem;
}

.whoami-terminal {
    font-family: "FiraMono";
    background-color: $--COLOR-bg;
    border: 2px solid $--COLOR-alt;

    width: 90%;
    font-size: 0.96rem;
    padding: 1rem;
    box-shadow: 5px 8px 0px rgba(0, 0, 0, 0.2);
    @media (min-width: $--WIDTH-tablet) {
        width: 55%;
        font-size: 1rem;
        padding: 2rem;
        box-shadow: 20px 25px 0px rgba(0, 0, 0, 0.2);
    }

    margin-left: auto;
    margin-right: auto;
    display: block;
}

.whoami-header {
    margin-bottom: 0.5rem;
}

.whoami-content {
    margin-left: 0.5rem;
    padding: 0.5rem 0rem;
}

.whoami-footer {
    padding-top: 2rem;
}

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
