html, body {
    color: #F8F8F8;
    background-color: #000000;

    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

.color-alt { color: #52F058; }

.splash-section {
    height: 100vh;
    font-family: "WorkSans";

    scroll-behavior: smooth;

    h1 {
        font-size: 7rem;
        font-weight: 700;
    }

    p {
        font-size: 2.4rem;
        font-weight: 300;
    }
}

.splash-text {
    padding: 8rem;
}

.splash {}

.side-nav {
    position: fixed;
    left: 2rem;
    bottom: 4rem;
}

.dot {
    display: block;
    width: 1.2rem;
    margin: 0.45rem 0rem;
}

.mark-tag {
    position: absolute;
    right: 2rem;
    bottom: 0;
}

.skills-section {
    background-color: #52F058;
    font-family: "WorkSans";
    font-size: 2rem;
    padding: 8rem;
}

.crypto-prices {
  position: absolute;
  font-size: 0.9rem;
  right: 1rem;
  bottom: 1rem;
  z-index: 1;
  font-family: "FiraMono";
}

.btc { color: #E38215; }
.bch { color: #7AFA5A; }
.eth { color: #7A91B3; }
.xmr { color: #FF6600; }

.navbar {
    padding: 0rem 2rem;
    float: right;

    ul {
        list-style-type: none;
        padding: 0;

        li {
            font-family: "WorkSans";
            float: left;
        }

        li a {
            color: #F8F8F8;
            text-decoration: none;
            padding: 0rem 1rem;
        }

        li a:hover {
            color: #52F058;
            transition-duration: 100ms;
        }
    }
}
