html, body {
  background-color: #f8f8f8;
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.top {
  min-height: 100vh;
  padding: 2rem;
  margin-bottom: 6rem;
  background-color: #f8f8f8;
  color: hsl(225, 6%, 14%);
}

.nav-link {
  margin-right: 0.75rem;
}

.nav-link:hover {
  text-decoration: underline 1px solid #FF6C02;
  text-underline-offset: 0.6rem;
}

.top-content {
  width: 60%;
  margin: 0 auto;
  margin-top: 12vh;
}

.top h1 {
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  font-size: 4.5rem;
}

.top p {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  font-size: 1.5rem;
}

.top li {
  font-family: 'Work Sans', sans-serif;
}

.alt-color {
  color: #FF6C02;
}

.alt-color-2 {
  color: rgba(224, 224, 224, 0.5);
}

.ian-koide-img {
  height: 19rem;
  margin: 0 auto;
  display: block;
}

.about {
  padding-top: 8rem;
  padding-bottom: 22rem;
  background-color: #252525;
  color: #ffffff;
  text-align: center;
}

.inner-about {
  width: 60%;
  margin: 0 auto;
}

.about-header {
  font-family: 'PercyPixel'
}

.about-content {
  font-size: 1.2rem;
}

.skills {
  width: 90%;
  padding: 4rem 4rem;
  padding-bottom: 8rem;
  margin: 0 auto;
  margin-top: -14rem;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-family: 'OpenSans';
  text-align: center;
  border: 1px solid rgb(199, 205, 206);
  border-radius: 0.3rem;
  -webkit-box-shadow: 0px 9px 40px -3px rgba(102,102,102,0.67); 
  box-shadow: 0px 9px 40px -3px rgba(102,102,102,0.67);
  z-index: 1;
}

.skills-header {
  margin-bottom: 4rem;
  font-size: 1.7rem;
  font-family: 'EurostileBold';
}

.skills p {
  font-size: 1.1rem;
}

.skill img {
  height: 5rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.skill {
  margin-bottom: 2rem;
  display: inline-block;
}

.skill p {
  font-size: 1.2rem;
}

.work {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8rem;
  display: block;
  text-align: center;
}

.work-header {
  margin-top: 8rem;
  font-family: 'EurostileBold';
}

.work p {
  font-size: 1.2rem;
  font-family: 'Eurostile';
}

.job {
  width: 100%;
  height: 16rem;
  padding: 2rem;
  color: #ffffff;
  border-radius: 0.4rem;
  transition-duration: 0.5s; /* delays for 1 second */
  -webkit-transition-duration: 0.5s;
}       

.job:hover {
  -webkit-box-shadow: 5px 5px 15px 1px rgba(0,0,0,0.6); 
  box-shadow: 5px 5px 15px 1px rgba(0,0,0,0.6);
}

.job-header {
  font-family: 'EurostileBold';
}

.job-stack {
  font-size: 1rem;
}

.job-button {
  margin-top: 2.5rem;
  color: #ffffff;
  border: 2px solid #FF6C02;
  border-radius: 0;
  transition-duration: 0.4s; /* delays for 1 second */
  -webkit-transition-duration: 0.4s;
}

.job-button:hover {
  background-color: #FF6C02;
  color: #ffffff;
}

/* Job Backgrounds */
.filler {
  background-color: #333;
}

.project-i {
  background-image: url('../img/city.jpeg');
  background-size: 100% 100%;
}

.minecraft {
  background-image: url('../img/minecraft.png');
  background-size: 100% 100%;
}

.minecraft-2 {
  background-image: url('../img/minecraft_2.png');
  background-size: 100% 100%;
}

.contact {
  padding: 6rem 2rem;
  color: #ffffff;
  background-color: #FF6C02;
  font-family: 'Eurostile';
  text-align: center;
}

.contact h5 {
  font-family: 'OpenSans';
}

.alt-btn {
  padding: 0.9rem 2rem;
  background-color: rgba(0,0,0,0);
  color: #ffffff;
  font-size: 1.1rem;
  border: 2px solid #ffffff;
  border-radius: 0.2rem;
  transition-duration: 0.7s; /* delays for 1 second */
  -webkit-transition-duration: 0.7s;
}

.alt-btn:hover {
  background-color: #ffffff;
  color: #FF6C02;
}

.footer {
  padding: 4rem;
  background-color: #252525;;
  color: rgba(255, 255, 255, 0.6);
  font-family: 'OpenSans';
  text-align: center;
}

.footer p {
  margin: 0;
  font-size: 0.85rem;
}

.social-btn {
  margin: 1rem;
  padding: 0.4rem 0.9rem;
  background-color: rgb(31, 31, 31);
  color: rgba(255, 255, 255, 0.6);
  border: none;
  border-radius: 0.2rem;
  font-family: 'Open Sans', sans-serif;
}

.social-btn:hover {
  background-color: rgb(28, 28, 28);
}

.social-icon {
  margin-right: 0.5rem;
}

.social-links a {
  color: #ffffff;
  font-size: 0.85rem;
}