html, body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    background-color: #fcfcfc;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.gallery {
    padding: 2.5rem;
    background-color: #fcfcfc;
    text-align: center;
}
.gallery h1 {
    color: #1a1a1e;
    font-weight: bold;
}
.gallery hr {
    width: 7.5%;
    height: 0.15rem;
    background-color: #f48404;
    transition: all 0.5s;
}
.gallery hr:hover {
    background-color: #1a1a1e;
}
.gallery img {
    height: 55vh;
    width: 100vh;
    border-radius: 5px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
.footer {
    padding: 1rem;
    background-color: #fcfcfc;
}
.footer img {
    height: 2.5rem;
    width: 4.5rem;
}
.footer h1 {
    color: #1d2333;
}
