html, body {
    background-color: #f8f8f8;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

.top {
    background-color: #f8f8f8;
    color: #222326;
    height: 100vh;
}

.top-content {
    width: 60%;
    margin: 0 auto;
    margin-top: 6rem;
}

.top h1 {
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    font-size: 4.5rem;
}

.top p {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 1.5rem;
}

.top li {
    font-family: 'Work Sans', sans-serif;
}

.ian-koide-img {
    height: 19rem;
    margin: 0 auto;
    display: block;
}

@media all and (max-width: 780px) {
    .ian-koide-img {
        display: none;
    }
}
.alt-color {
    color: #FF6C02;
}

.nav-link {
    margin-right: 0.75rem;
}

.nav-link:hover {
    text-decoration: underline 1px solid #FF6C02;
    text-underline-offset: 0.6rem;
}

.main {
    width: 80%;
    margin: 0 auto;
}

.timeline {
    margin: 0 auto;
    width: 55%;
}

.event {
    padding: 4rem;
}

.event-date {
    font-size: 1.5rem;
    font-weight: bold;
}

.border-r {
    border-right: 3px solid #FF6C02;
}

.border-l {
    border-left: 3px solid #FF6C02;
}

.border-b {
    border-bottom: 3px solid #FF6C02;
}

.border-t {
    border-top: 3px solid #FF6C02;
}

.event-first {
    height: 2rem;
    border-left: 3px solid #FF6C02;
}

.event-last {
    height: 2rem;
    border-right: 3px solid #FF6C02;
}

.projects {
    height: 80vh;
}

.project {
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 4rem;
    width: 100%;
    background-color: #ffffff;
    -webkit-transition: all .4s ease;
}

.project-image {
    width: 100%;
}

.project-body {
    padding: 1rem;
}

.project p {
    margin: 0;
    text-align: center;
}

.project .links {
    text-align: center;
    margin-top: 1rem;
}

.project .btn {
    font-size: 0.9rem;
    padding: 0.2rem 0.4rem;
    /* display: inline; */
}

.project-hr {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    width: 65%;
    background-color: rgb(197, 197, 197);
}

.project:hover {
    box-shadow: 0px 5px 33px 10px rgba(168, 168, 168, 0.39);
}

.footer {
    font-family: 'Noto Sans', sans-serif;
    padding: 4rem;
    background-color: #252525;;
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
}

.footer p {
    margin: 0;
    font-size: 0.85rem;
}

.social-btn {
    background-color: rgb(31, 31, 31);
    color: rgba(255, 255, 255, 0.6);
    border: none;
    border-radius: 0.2rem;
    padding: 0.4rem 0.9rem;
    font-family: 'Open Sans', sans-serif;
    margin: 1rem;
}

.social-btn:hover {
    background-color: rgb(28, 28, 28);
}

.social-icon {
    margin-right: 0.5rem;
}

.contact {
    font-family: 'Noto Sans', sans-serif;
    color: #ffffff;
    text-align: center;
    padding: 6rem 2rem;
    background-color: #FF6C02;
}

.contact p {
    font-family: 'Roboto Slab', serif;
}

.alt-btn {
    color: #ffffff;
    font-size: 1.1rem;
    background-color: rgba(0,0,0,0);
    border: 2px solid #ffffff;
    border-radius: 0.2rem;
    padding: 0.9rem 2rem;
}

.social-links a {
    color: #ffffff;
    font-size: 0.85rem;
}